<div class="container">
  <h1>Ändra dina användaruppgifter</h1>
  <div id="login-info-group">
    <h4>Kontoinformation</h4>
    <app-change-email></app-change-email>
    <app-change-password></app-change-password>
  </div>
  <form [formGroup]="changeUserInfo" (ngSubmit)="onSubmit()" id="changeUserInfo">
    <div id="personal-info-group">
      <h4>Personlig information</h4>
      <div id="name-group">
        <label for="first-name">Namn</label>
        <input formControlName="firstname" type="text" name="firstname" id="firstname" placeholder="Förnamn"
          [ngClass]="{ 'is-invalid': submitted && formControls.firstname.errors }">
        <div *ngIf="submitted && formControls.firstname.errors" class="invalid-feedback">
          <div *ngIf="formControls.firstname.errors.required">
            Fyll i ett förnamn
          </div>
        </div>
        <input formControlName="lastname" type="text" name="lastname" id="lastname" placeholder="Efternamn"
          [ngClass]="{ 'is-invalid': submitted && formControls.lastname.errors }" />
        <div *ngIf="submitted && formControls.lastname.errors" class="invalid-feedback">
          <div *ngIf="formControls.lastname.errors.required">Fyll i ett efternamn</div>
        </div>
      </div>
      <div id="birth-group">
        <label for="dob">Födelsedatum: </label>
        <input formControlName="dob" type="date" name="dob" id="dob" placeholder=""
          [ngClass]="{ 'is-invalid': submitted && formControls.dob.errors }" />
        <div *ngIf="submitted && formControls.dob.errors" class="invalid-feedback">
          <div *ngIf="formControls.dob.errors.required">Fyll i Födelsedatum</div>
        </div>
      </div>
    </div>
    <hr />

    <div id="address-info-group">
      <div id="billing-group">
        <h4>Postadress</h4>
        <label for="addressline">Adress:</label>
        <input formControlName="addressline" type="text" name="addressline" id="addressline" placeholder="Adress"
          [ngClass]="{ 'is-invalid': submitted && formControls.addressline.errors }" />
        <div *ngIf="submitted && formControls.addressline.errors" class="invalid-feedback">
          <div *ngIf="formControls.addressline.errors.required">Fyll i en gatuadress</div>
        </div>
        <label for="zipcode">Postnummer:</label>
        <input formControlName="zipcode" type="text" name="zipcode" id="zipcode" placeholder="Postnummer"
          [ngClass]="{ 'is-invalid': submitted && formControls.zipcode.errors }" />
        <div *ngIf="submitted && formControls.zipcode.errors" class="invalid-feedback">
          <div *ngIf="formControls.zipcode.errors.required">Fyll i ett postnummer</div>
        </div>
        <label for="city">Stad:</label>
        <input formControlName="city" type="text" name="city" id="city" placeholder="Stad"
          [ngClass]="{ 'is-invalid': submitted && formControls.city.errors }" />
        <div *ngIf="submitted && formControls.city.errors" class="invalid-feedback">
          <div *ngIf="formControls.city.errors.required">Fyll i stad</div>
        </div>
        <label for="country">Land:</label>
        <input formControlName="country" type="text" name="country" id="country" placeholder="Land"
          [ngClass]="{ 'is-invalid': submitted && formControls.country.errors }" />
        <div *ngIf="submitted && formControls.country.errors" class="invalid-feedback">
          <div *ngIf="formControls.country.errors.required">Fyll i land</div>
        </div>
      </div>
      <div id="billing-group">
        <h4>Faktureringsadress</h4>
        <div id="same-address-container">
          <input type="checkbox" name="same" id="same" (change)="cloneAddress()">
          <label for="same" class="inline"> Använd postadressen som faktureringsadress</label>
        </div>
        <label for="billingAddress">Adress:</label>
        <input formControlName="billingAddress" type="text" name="billingAddress" id="billingAddress"
          [ngClass]="{ 'is-invalid': submitted && formControls.billingAddress.errors }" />
        <div *ngIf="submitted && formControls.billingAddress.errors" class="invalid-feedback">
          <div *ngIf="formControls.billingAddress.errors.required">Fyll i adress</div>
        </div>
        <label for="billingZipcode">Postnummer:</label>
        <input formControlName="billingZipcode" type="text" name="billingZipcode" id="billingZipcode"
          [ngClass]="{ 'is-invalid': submitted && formControls.billingZipcode.errors }" />
        <div *ngIf="submitted && formControls.billingZipcode.errors" class="invalid-feedback">
          <div *ngIf="formControls.billingZipcode.errors.required">Fyll i postnummer</div>
        </div>
        <label for="billingCity">Stad:</label>
        <input formControlName="billingCity" type="text" name="billingCity" id="billingCity"
          [ngClass]="{ 'is-invalid': submitted && formControls.billingCity.errors }" />
        <div *ngIf="submitted && formControls.billingCity.errors" class="invalid-feedback">
          <div *ngIf="formControls.billingCity.errors.required">Fyll i stad</div>
        </div>
        <label for="billingCountry">Land:</label>
        <input formControlName="billingCountry" type="text" name="billingCountry" id="billingCountry"
          [ngClass]="{ 'is-invalid': submitted && formControls.billingCountry.errors }" />
        <div *ngIf="submitted && formControls.billingCountry.errors" class="invalid-feedback">
          <div *ngIf="formControls.billingCountry.errors.required">Fyll i land</div>
        </div>
      </div>
    </div>
    <hr>
    <div id="button-group">
      <button [disabled]="loading" class="button light" type="submit">Ändra användaruppgifter</button>
      <img *ngIf="loading" class="pl-3"
        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

    </div>

  </form>
</div>